markdown:
  We will be using [Compass](http://compass-style.org), 
  [Susy](http://susy.oddbird.net/) and the 
  `compass-normalize` plugin. See the `Gemfile`
  for the bundler requirements.

  You can use the `db/seeds.rb` file to populate your
  website with dummy data.

    
