@import normalize
@import susy

$bgcolor: lightgrey
$highlight: darkorange
$textcolor: black

$total-columns: 24
$detail-cols: 16
$index-cols: $total-columns - $detail-cols

.selected
  color: $highlight
  a
    color: $highlight !important
    font-weight: bold
@mixin buttons
  &:hover
    color: $highlight
  text-align: right
  font-size: 1.2em
  a
    &:hover
      color: $highlight
    text-decoration: none
    font-size: 1.2em
a
  color: $textcolor

#content
  //@include susy-grid-background
  color: $textcolor
  @include container

header, footer
  padding: .1em
  background: $bgcolor
  clear: both

footer
  text-align: right

nav
  input[type="search"]
    -webkit-appearance: searchfield
  form
    @include prefix(1, $index-cols)
  ul
    padding: 0
    margin: 0
  .btn
    font-size: 1em
    @include span-columns($index-cols, $index-cols)
  @include span-columns($index-cols)
  ul#tab
    @include span-columns(1, $index-cols)
    li
      text-align: center
      border-bottom: 1px solid $bgcolor
      border-right: 1px solid $bgcolor
    a
      color: darken($bgcolor, 30%)
      text-decoration: none
      font-size: .8em
  ul#entries
    @include span-columns($index-cols - 1 omega, $index-cols)
    padding-left: 0
    line-height: 1.25em
    height: 30em
    overflow: scroll
    a
      text-decoration: none

article
  @include span-columns($detail-cols omega)
  box-sizing: border-box
  border: 1px solid $bgcolor
  padding: 1em

span.label
  font-weight: bold
h1, h2, h3
  margin-bottom: .25em

.address
  p
    margin: 0

#notice
  color: green
#error, .error, .alert-error
  color: red

#buttons, .btn
  padding-top: 1em
  @include buttons
  form
    display: inline
  .btn
    background: none
    border: none
    padding: 0
    @include buttons
        
