@import normalize

$header-margin: .1em
body
  margin: 1em

#buttons
  form
    display: inline
  a
    font-size: 1.2em

fieldset
  margin: 1em 10em 1em 0

label
  margin-right: .5em

input, select, textarea
  margin-top: .25em

h2, h3
  margin-bottom: $header_margin

h3
  margin-top: $header_margin

#notice
  color: green

#error, .error, .alert-error
  color: red
